<div>
  <button *ngIf="state === gameStates.CREATED" (click)="coreService.game.doReady()">Распределить людей</button>
  <button *ngIf="state === gameStates.READY" (click)="coreService.game.start()">Старт</button>
  <button *ngIf="state === gameStates.IN_PROGRESS" (click)="coreService.game.pause()">Пауза</button>
  <button *ngIf="state === gameStates.PAUSE" (click)="coreService.game.play()">Плей</button>
  <button *ngIf="state === gameStates.TIMER_POSITION_CHANGE" (click)="coreService.game.play()">Поменялись</button>

  <!-- TODO: 2 кнопки (тем же составом) / (с перераспределением) -->
  <button *ngIf="state === gameStates.END">Переиграть</button>
</div>
