<div class="flex-box flex-column h100">
  <app-title class="flex-item-fix">
    Позиции<br />
    Игроков
  </app-title>

  <div class="playground flex-item-full scrollable">
    <app-playground #playGround></app-playground>
  </div>

  <div class="buttons flex-item-fix flex-box">
    <button class="flex-item-full" mat-raised-button color="primary" (click)="next.next()">
      Начать игру
    </button>
    <button class="refresh" mat-mini-fab color="primary" (click)="resort(playGround)">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
</div>
