<div class="flex-box flex-column h100">
  <app-title class="flex-item-fix">
    Выберете<br />
    Игроков
  </app-title>

  <div class="list flex-item-full scrollable">
    <mat-list>
      <div class="sub-header" mat-subheader>Игроки {{ playersService.players.length }}/{{ playersService.maxPlayers }}</div>
      <mat-list-item *ngFor="let player of playersService.players">
        <mat-icon mat-list-icon>person</mat-icon>
        <div mat-line>{{player.name}}</div>
        <button mat-icon-button (click)="deletePlayer(player)">
          <mat-icon class="mat-24">delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <button *ngIf="playersService.players.length < playersService.maxPlayers" mat-stroked-button (click)="newPlayerModal()">Добавить</button>
  </div>

  <div class="buttons flex-item-fix flex-box flex-row-reverse">
    <button
      mat-raised-button color="primary"
      [disabled]="playersService.players.length !== playersService.maxPlayers"
      (click)="next.next()"
    >Далее</button>
  </div>
</div>
