<div class="flex-box flex-column h100">
  <app-title class="flex-item-fix">
    Игра<br />
    Началась
  </app-title>

  <div class="flex-item-full scrollable content">
    <div class="view">
      <h3>Тайм</h3>
      <h3>{{timeCount}}</h3>
      <h3>Время</h3>
      <h2><app-timer></app-timer></h2>
      <!-- <h3>Счет</h3>
      <h1>0:0</h1> -->
    </div>
  </div>

  <div class="buttons flex-item-fix flex-box">
    <button *ngIf="isPlaying()" class="flex-item-full" mat-raised-button color="primary" (click)="pause()">
      Пауза
    </button>

    <button *ngIf="!isPlaying() && !isPlayerChangeTime()" class="flex-item-full" mat-raised-button color="primary" (click)="play()">
      Продолжить
    </button>

    <button *ngIf="isPlayerChangeTime()" class="flex-item-full" mat-stroked-button (click)="doChange()">
      Поменялись
    </button>
  </div>
</div>
