.buttons {
  margin: 16px 0;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.view {
  text-align: center;

  h2 { font-size: 48px; line-height: 48px; }
  h1 { font-size: 64px; line-height: 64px; }
  h3 { font-size: 32px; line-height: 32px; }
}
