<mat-card class="card" [ngClass]="{ blue: team?.name === 'blue', red: team?.name === 'red' }">
  <mat-card-content>
    <ng-container *ngIf="!player">Пусто</ng-container>
    <div class="player" *ngIf="player">
      <mat-icon>person</mat-icon>
      <span class="name">{{ player.name }}</span>
    </div>
  </mat-card-content>
</mat-card>
