<div class="container">
  <mat-toolbar class="header" color="primary">
    <span>Кикер</span>
  </mat-toolbar>

  <div class="content">
    <div class="body">
      <app-step1 *ngIf="step === 'step1'" (next)="step2()"></app-step1>
      <app-step2 *ngIf="step === 'step2'" (next)="step3()"></app-step2>
      <app-step3 *ngIf="step === 'step3'"></app-step3>
      <!-- <app-timer></app-timer>
      <div>
        Players ({{playerService.players.length}}/{{playerService.maxPlayers}}):
        <app-player *ngFor="let player of playerService.players" [player]="player" [controllers]="true" (delete)="deletePlayer(player)"></app-player>
        <form *ngIf="playerService.players.length < playerService.maxPlayers">
          <input name="name" type="text" [(ngModel)]="newPlayerName">
          <button [disabled]="playerService.players.length >= playerService.maxPlayers || !newPlayerName" (click)="addPlayer()">Добавить игрока</button>
        </form>
      </div>
      <app-playground></app-playground>
      <app-control-buttons></app-control-buttons> -->
    </div>
  </div>
</div>
