.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  flex-grow: 0;     /* do not grow   - initial value: 0 */
  flex-shrink: 0;   /* do not shrink - initial value: 1 */
}

.content {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;

  .body {
    height: 100%;
    box-sizing: border-box;
    padding-top: 16px;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
  }
}
