<h1 mat-dialog-title>Новый игрок</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Имя</mat-label>
    <input matInput [(ngModel)]="name">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="null">Отмена</button>
  <button mat-button [mat-dialog-close]="name" cdkFocusInitial>Добавить</button>
</div>
