/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.scrollable {
  overflow-y: auto;
  -webkit-overflow-scrolling: auto;
}

.h100 {
  height: 100%;
}

.flex-box {
  display: flex;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.flex-item-fix {
  flex-grow: 0;     /* do not grow   - initial value: 0 */
  flex-shrink: 0;   /* do not shrink - initial value: 1 */
}

.flex-item-full {
  flex: 1;
}

.mb-16 {
  margin-bottom: 16px;
}
