<div>
  <div class="flex">
    <app-player [player]="player00" [team]="team00"></app-player>
    <app-player [player]="player10" [team]="team10"></app-player>
  </div>

  <div class="board"></div>

  <div class="flex">
    <app-player [player]="player01" [team]="team01"></app-player>
    <app-player [player]="player11" [team]="team11"></app-player>
  </div>
</div>
