.flex {
  display: flex;
  justify-content: space-between;
}

.board {
  height: 300px;
  background: url('../../../assets/table-football.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
